@model BoardGameBuddy.Models.BoardGame

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GameLibrary</title>
</head>
<h1>Game Library Here!</h1>
<body>
    <div> 
        <ul>
            <li>Blood Rage</li>
            <li>Lost Cities></li>
            <li>Dead of Winter</li>
            <li>Pandemic</li>
            <li>Patch Work</li>
        </ul>
    </div>
</body>
</html>
