@model BoardGameBuddy.Models.BoardGame

@{ 
   ViewBag
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GameLibrary</title>
</head>
<h1>My Board Game Library</h1>
<body>  
 
   @foreach (var item in Model.
      
   {
    <div class="col-md-3">
        <h4>
            @Html.ActionLink(Model.Title, "Detail", new { id = Model.Id })
        </h4>
    </div>
   }
    <h5>@Html.ActionLink("Return Home", "Index")</h5>    
</body>
</html>
