@model BoardGameBuddy.Models.BoardGame



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GameLibrary</title>
</head>
<h1>My Board Game Library</h1>

<body>
   
        
   <h5>@Html.ActionLink("Return Home", "Index")</h5>
    </div>
</body>
</html>
