
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home/Index</title>
</head>
<body>
    <h1>Welcome To Board Game Buddy</h1>
    <h2>@ViewBag.Greeting</h2>
    <h3>Home/Index View</h3>

    @Html.ActionLink("Link Here", "GameLibrary")
    <div>
    </div>
</body>
</html>
