
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home/Index</title>
</head>
<body>
    <h4>@ViewBag.Greeting</h4>
        <h1>Welcome To Board Game Buddy</h1>
            <h2>Your Board Gaming Companion and Collection App</h2>
                <h2>@Html.ActionLink("View the Board Game Repoistory", "GameRepository")</h2>
                <h2>@Html.ActionLink("View your Game Library", "GameLibrary")</h2>
                    <h5>Home/Index View</h5>
                    <h5>Ryan Madden</h5>
   
</body>
</html>
